.main {

    height: 100vh;
    background-color: #000;

}

.container {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text {
    margin-bottom: 10vh;
    color: white;
    font-size: 35px;
    flex-shrink: 0;
    animation: mainText 1.5s 1 ease-in-out ;
}

@keyframes mainText {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0;
    }
}

.photo {

    margin-top: -50px;
    flex-grow: 1;
    align-self: stretch;
    margin-left: 150px;

}