
.contactPage {
  font-size: 20px;
  font-family: Heebo, math;

  div {
    padding: 20px;
    color: #bbb;
  }
}

.address {

}


.icons {
  padding: 20px;

  a {
    color: #bbb;
    margin-left: 20px;
    transition: .25s ease;

    &:hover {
      cursor: pointer;
      color: white;
      padding: 8px;
    }
  }

}
