.main {
    background-color: #000;
    color: white;

}

.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.contactPage {
    flex: 1;
    width: 100%;
}

.quickContact {
    width: 100%;
    text-align: center;
    flex: 1 1;
    padding-top: 50px;

}

.imageWrapper {
    display: flex;
    justify-content: flex-end;
}

.imageWrapper img {
   max-width: 70%;
}