.main {
    height: 80vh;
    background-color: #000;
    color: white;
    display: flex;
}

.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.contactPage {
    flex: 1;
    width: 100%;
}

.quickContact {
    display: flex;
    width: 100%;
    text-align: center;
    flex: 1 1;
    padding-top: 50px;
    justify-content: flex-end;
}

.imageWrapper {
    align-self: flex-end;
    flex: 1;

}

.imageWrapper img {

   max-width: 100%;
}