.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    text-align: center;
    box-sizing: border-box;


}

.skill {

}

.icon {

    display: flex;
    justify-content: center;
}

.description {
    margin-top: 15px;
    border: 1px solid hsla(0,0%,40%,.3);
    background-color: #222;
    padding: 10px;
    color: #bbb;
}
