.main {
    
}
.contactPage{
    font-size: 20px;
    font-family: Heebo,math;
}

.address {

}
.text {

    padding: 20px;
    color: #bbb;

}
.phone {
    display: flex;
    flex-direction: column;
}
.contactPage span {
    margin-top: 10px;
}