.main {
    display: flex;
    padding: 10px;


}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid hsla(0,0%,40%,.3);
    background-color: #222;


}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 15px;

}
.image img {
    max-width: 100%;
}
.image a {
    position: absolute;
    border: 1px solid;
    text-align: center;
    width: 5%;
    background-color: #202020;
    opacity: 70%;
}
.image a:hover {
    opacity: 100%;
    padding: 10px;
    width: 10%;
}

.wrapper {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid hsla(0,0%,40%,.3);
}
.description {
    border: 1px solid hsla(0,0%,40%,.3);
    padding: 20px;
    text-align: center;
    background-color: #111;
    color: #bbb;
    width: 100%;

}