.main {
    min-height: 70vh;
    background-color: #202020;
    color: white;

}

.container {
    display: flex;
    text-align: center;
    font-size: 30px;

}

.textBox {
    display: flex;
    align-items: center;
    flex-direction: column;


}

.wrapper {

    margin: 0 auto;
    padding: 50px;
    max-width: 66.66%;
    border: 1px solid hsla(0, 0%, 40%, .3);
    background-color: #111111;
}

.photo {

}

.photo img {
    margin-top: -117px;
    max-width: 100%;

}
