.main {
    background-color: #202020;
    color: white;

}

.container {
    display: flex;
    text-align: center;
    font-size: 30px;

}

.textBox {
    margin-top: -25px;
    width: 100%;

}


.wrapper {
    margin: 0 auto;
    padding: 50px 10px;
    border: 1px solid hsla(0, 0%, 40%, .3);
    background-color: #111111;
}


.photo {

}

.photo img {
    margin-top: -117px;
    max-width: 60%;

}
