.main {
    display: flex;
    padding: 10px;
    height: 100%;
    width: 33.33%;


}

.container {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid hsla(0,0%,40%,.3);
    background-color: #222;


}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 15px;

}
.image img {
    width: 100%;
    max-width: 100%;
}

.wrapper {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid hsla(0,0%,40%,.3);
}
.description {
    border: 1px solid hsla(0,0%,40%,.3);
    padding: 20px;
    text-align: center;
    background-color: #111;
    color: #bbb;

}