.main {
    height: 100vh;
    background-color: #000;
}

.container {
    display: flex;
    height: 100%;
    margin: 0 auto;
    border: 1px solid;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}
.text {
    color: white;
    font-size: 40px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 80%;
    width: 90%;
    border: 1px solid;
    flex-wrap: wrap;

}

