.main {
    min-height: 100vh;
    background-color: #000;
}

.container {

}
.text {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.wrapper {
    display: flex;
    /*flex erection column - media zapros */
    border: 1px solid;
    background-color: #111111;
}

