.main {
    height: 100vh;
    background-color: #111;
    border-top: 1px solid hsla(0, 0%, 40%, .3);
}


.skillsContainer {
    display: flex;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;


}

.container {
    display: flex;
    height: 100%;
    width: 80%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    padding: 10px;
    display: flex;
    color: white;
    font-size: 40px;
}

.skills {
    display: flex;
    border: 1px solid hsla(0, 0%, 40%, .3);
    width: 100%;
    flex-wrap: wrap;
}