.main {
    height: 100vh;
    background-color: #111
}


.skillsContainer {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}
.container {
    display: flex;
    height: 100%;
    width: 80%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    color: white;
    font-size: 40px;
}
.skills {
    display: flex;
    border: 1px solid hsla(0,0%,40%,.3);
    width: 100%;
    flex-wrap: wrap;
}