.main {

    min-height: 100vh;
    background-color: #111;
    border-top: 1px solid hsla(0, 0%, 40%, .3);
}


.container {

}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    padding: 10px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.skills {
    display: flex;
    border: 1px solid hsla(0, 0%, 40%, .3);
    width: 100%;
    flex-wrap: wrap;
}