.main {
  background-color: #000;
  padding: 100px 0;
}

.text {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.wrapper {
  padding: 50px 0;
  border: 1px solid;
  background-color: #111111;
}

.slide {
  padding-left: 10px;
  padding-right: 10px;

  img {
    width: 100%;
  }
}

.descriptionWrapper {
  color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid hsla(0, 0%, 40%, .3);
  min-height: 250px;

  div {
    padding-bottom: 20px;
  }
}

.description {
  border: 1px solid hsla(0, 0%, 40%, .3);
  padding: 20px;
  background-color: #111;
  color: #bbb;
  min-height: 190px;


  .techName {
    color: white;

  }

  .techDescription {
    padding: 0;
  }

}
