.main {

  background-color: #111111;
  border-top: 1px solid hsla(0, 0%, 40%, .3);

}

.container {
  height: 20vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;

}

.footerMenu {
  display: flex;
  justify-content: center;

}

.block {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  background-color: #202020;
}

.text {
  font-family: Heebo, math;
  color: #bbb;
  text-align: center;

}