* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.sonic {
    position: fixed;
    left: -200px;
    bottom: 0;
    width: 100px;
    animation: sonicIsRunning 10s ease-in-out 5s infinite;
}

@keyframes sonicIsRunning {
    0% {
        left: -200px;

    }
    80% {
        left: -200px;
    }
    100% {
        left: 110%;
    }
}

.container {
    max-width: 1470px;
    padding: 50px 15px 50px;
    margin-left: auto;
    margin-right: auto;

}