.main {
  background-color: #000;
  color: white;


}

.container {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-left: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;


}

.contactPage {
  padding: 50px;
  border: 1px solid rgba(102, 102, 102, 0.3);
  border-radius: 5px;
  margin-left: -40px;
  margin-bottom: 100px;
  z-index: 0;
  position: relative;
  font-style: italic;
  letter-spacing: 0.3px;
  background: #202020;

}

.imageWrapper {

  img {
    max-width: 80vh;
    z-index: 1;
    position: relative;
    @media only screen and (max-width: 1285px) {
      display: none;
    }
  }
}
